.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.j-btw {
    justify-content: space-between;
}

.j-flex-end {
    justify-content: flex-end;
}

.al-center {
    align-items: center;
}

.al-fstart{
    align-items: flex-start;
}

.flex-end{
    align-self: flex-end;
}

.al-self-center{
    align-self: center;
}

.gap10 {
    gap: 10px;
}

.gap5 {
    gap: 5px;
}

.gap20 {
    gap: 20px;
}

.gap200 {
    gap: 200px;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.width50 {
    width: 50%;
}

.width100 {
    width: 100%;
}

.width75 {
    width: 75%;
}

.width60 {
    width: 60%;
}

.m-top30 {
    margin-top: 30px;
}

.p10 {
    padding: 10px;
}

.p30 {
    padding: 30px;
}

.pointer {
    cursor: pointer;
}

.c-white{
    color: #FFFAFA;
}

.c-gray {
    color: #2A2B2A;
}

.c-red {
    color: #FFE66D;
}

.b-circle {
    border-radius: 100%;
    border: #ebedef 1px solid;
    width: 48px;
    height: 48px;
}

.no-wrap{
    flex-wrap: nowrap;
}

.make-icon {
    width: 32px;
    height: 32px;
}

.bold {
    font-weight: bold;
}

.bg-white{
    background-color: #FFFAFA;
}

.bg-red{
    background-color: #FFE66D;
}

.title-span {
    font-size: 16px;
}

.no-deco {
    text-decoration: none;
}

.hidden {
    display: none;
}

.upper-nav {
    width: 100%;
    height: 50px;
    background-color: #2A2B2A;
    /* border-bottom: solid 4px #FFE66D; */
    color: #FFFAFA;
}

.nav-left {
    padding-left: 30px;
}

.nav-right {
    padding-right: 30px;
}

.links-wrapper {
    padding-left: 30px;
}

.hero {
    height: 100px;
    background-color: #FFEB85;
    font-size: 32px;
}

.main-nav-links:hover {
    color: #FFE66D;
    cursor: pointer;
}

.lower-nav {
    height: 30px;
    background-color: #FFFAFA;
    border-bottom: solid 2px #D8E2DC;
}

.nav-links {
    text-decoration: none;
    color: #2A2B2A;
}

.nav-links:hover {
    color: #FFE66D;
    border-bottom: 2px solid #FFE66D;
}

.links-wrapper {
    width: 20%;
}

.f-small {
    font-size: 18px;
}

.container {
    width: 100%;
    height: 100%;
    justify-content: center;
}


.content {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    justify-content: space-between;
    padding: 24px;
    gap: 10px;
}


.card {
    border: #D8E2DC 2px solid;
    background-color: #FFFAFA;
    display: flex;
    padding: 32px;
    border-radius: 20px;
}

.class-card {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.product-title {
    color: #2A2B2A;
}

.label {
    color: #2A2B2A;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
}

.input {
    outline: none;
    border: 2px solid #FFE66D;
    border-radius: 5px;
    padding: 5px;
    background-color: none;
    font-size: 14px;
}

.input:hover {
    border-color: #FFEB85;
}

.btn {
    font-family: "Google Sans",'Roboto',Arial,sans-serif;
    background-color: grey;
    color: #FFFAFA;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover{
   filter: brightness(110%);
}

.textarea{
    outline: none;
    border: 2px solid #FFE66D;
    border-radius: 5px;
    padding: 5px;
    background-color: none;
    font-size: 18px;
}

.textarea:hover{
    border-color: #FFEB85;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    display: none;
}

.modal {
    height: 200px;
    width: 600px;
}

.link {
    font-size: 20px;
    color: #2A2B2A;
}