.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.recipe-details {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.name{
  background-color:rgb(27, 159, 133);
  width: 100%;
  display: flex;
  justify-content: center;
}

.comments h2{
  color: rgb(27, 159, 133) ;
}
.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.recipe-images {
  display: flex;
  margin-right: 40px;
}

.recipe-images img {
  display: block;
  max-width: 20vw;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-info h2 {
  font-size: 24px;
  margin: 20px auto;
}

.recipe-info p {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: justify;
}

.recipe-info {
display: flex;
flex-direction: column;
align-items: center;
flex: 1;
width: 100%;
}

.comments {
  width: 100%;
  background-color: #F0F3F8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.comments h3 {
  font-size: 24px;
  margin-bottom: 20px;
}


.comment-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.username {
  font-size: 16px;
  color: #888888;
}

.comment-input{
  margin-top: 10px;
  width:100%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.like{
  color: rgb(27, 159, 133) ;
  cursor: pointer;
}

.unliked {
  color: #888888;
  cursor: pointer;
}

.comment{
  width:500px !important;
}
